@import 'tailwindcss';

@theme {
  --color-primary: #2563eb;
  --color-secondary: #60a5fa;
  --color-success: #22c55e;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;
  --color-background: #f8fafc;
  --color-text: #1e293b;
}

body {
  margin: 0;
  font-family:
    'Inter',
    system-ui,
    -apple-system,
    sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}
